* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content{
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    align-items: center;

}
.content::before{
    content: "" ;
    position: absolute;
    background-color:#9370DB ;
    width: 40%;
    height: 100%;
}

.first-content{
    display: flex;
    position: relative;
}

.first-column{
    text-align: center;
    flex: 1 0 auto;
}

.second-column{
    flex: 2 0 auto;
}

.second-content{
    position: absolute;
    display: none;
}

.list-social-midia{
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
}